body{
    background-color: black;
    color: white;
    font-family: Helvetica, san-serif;
}
header{
    width: 100%;
    grid-area: hd;
    display: flex;
    flex-flow:column;
}
html{
    scroll-behavior: smooth;
}

nav  {
    margin: auto;
    align-content: center;

}
nav a {
    margin: auto;
    align-content: center;
    padding: 1em 1em 1em 1em;
    text-decoration: none;
    color: white;
    font-size: 1.4em;
}

nav a:hover {
    font-size: 1.5em;
}

span{
    font-size: 1.2em;
}
.discount{
    text-decoration: line-through;
    color: dimgrey;
}
aside{
    display: flex;
    width: 100%;
    margin: 5em auto;
    grid-area: ad;
    position: fixed;
}
li{
    padding: 1em 1em 1em 1em;
}

li a {
    decoration: none;
    font-size: 1em;
    width: 100%;
}
main{
    margin: 5em auto;
    width: 90%;
    grid-area: mn;
}
section{
    display : grid;
    /*grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/
    grid-gap: 1rem;
    font-size: 1rem;
    margin: 1vw;
}
article{
    border-top: 1px solid  ;
    border-bottom: 1px solid  ;
    border-color: hsl(0, 20%, 23%);
    display: flex;
    flex-flow: column;

}

article:hover{
    border: 1px solid red ;
    border-radius: 1rem;
    border-color: hsl(0, 20%, 23%);
}
.soldo{
    filter: grayscale(100%);
    display: none;
}

.vegana:hover{
    border: 1px solid green;
}
img{
    border-radius: 2rem;
    width: 100%;
    height: auto;
    float: right;
}
.price{
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: flex-end;
}

article {
    display: flex;
    flex-flow: column;
}

article > img {
    align-self: flex-end;
}

article {
    padding: 2rem;
    display : grid;
    grid-template-columns: 1fr 1fr;
}
section>h1 {
    color: yellow;
    font-size: 150%;
}

h1::first-letter{
    text-transform: uppercase;
}

article > h1 {
    color: white;
    margin: 0 auto;
}
.content{
    margin-bottom: 2rem;
}

article > button{
    margin-top: auto;
    background: yellow;
    color: red;
    padding: 0.5rem;
    border: none;
    border-radius: 1rem;
    font-size: 1.2rem;
}
/*MODAL MODAL MODAL MODAL*/
.hide {
  display: none;
}
.modal-background {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal-content {
  background-color: #fefefe;
  border: 1px solid #7c1f17;
  margin: 1em;
  width: 90%;
  height: 20rem;
  padding: 2em;
  color: black;
}

.modal-content > img {
  order: -1;
  width: 30%;
  height: auto;
  float: right;
}
/*MEDIA Q MEDIA Q MEDIA Q MEDIA Q*/

@media all and (min-width: 599px){
    body {
        display: grid;
        grid-template-columns: 0.7fr 4fr 1fr;
        grid-template-areas:
            "hd hd hd"
            "ad mn mn"
            "ad mn mn"
            "nav nav nav";

    }
    article{
    margin: 0 ;
    width: 40vw;
    }
    h1{

    }
}
